  JWT_SECRET=your_JWT_SECRET;
  MONGO_URI=your_MONGO_URI;
  GOOGLE_CLIENT_ID=your_GOOGLE_CLIENT_ID;
  GOOGLE_SECRET_KEY=your_GOOGLE_SECRET_KEY;
  GOOGLE_REFRESH_TOKEN=your_GOOGLE_REFRESH_TOKEN;
  GOOGLE_USER=your_GOOGLE_USER;
  REDIS_URL=your_REDIS_URL;
  FRONTEND_URL=your_FRONTEND_URL;
  IMAGEKIT_PRIVATE_KEY=your_IMAGEKIT_PRIVATE_KEY;
  IMAGEKIT_PUBLIC_KEY=your_IMAGEKIT_PUBLIC_KEY;
  PORT=your_PORT;
  RAZORPAY_API_KEY=your_RAZORPAY_API_KEY;
  RAZORPAY_SECRET_KEY=your_RAZORPAY_SECRET_KEY;